<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="style.css" />
    <title>U-TUBE MP3 DOWNLOADER</title>
    <script>
        window.onload = function () {
            window.location.href = '/';
            fileInput?.value = '';
        }
    </script>
</head>

<body>
    <div class="top-container">
        <form action="/convert-mp3" method="post" id="form">
            <a href="/">
                <h1>
                    <i class="fa-brands fa-youtube"></i>
                    <span>U Tube Mp3 Downloader</span>
                    </h1>
            </a>
            <h4>Enter the video url</h4>
            <div class="flex relativeP">
                <input
                    id="input"
                    type="text"
                    name="videoUrl"
                    placeholder="Video url"
                    required
                />
                <button id="go-btn">GO</button>
            </div>
        </form>
    </div>
    <div class="middle-container">
        <% if(typeof success !="undefined" && success && message){ %>
            <div class="success">
                <p><%= message %></p>
            </div>                                          
        <%}%>
    <% if(typeof success !="undefined" && success && video_title.length !== 0){ %>
    <div class="download-section">
        <p><%=video_title %></p>
        <a href="<%=video_link %>"><button class="btn">Download</button></a>
    </div>
    <%}else if(typeof success !="undefined" && !success) {%>
    <div class="errors">
        <p><%= message %></p>
    </div>
    <% } %>
    </div>
    <div class="bottom-container flex-column">
        <%if(!loading){%>
            <form
                id="upload"
                action="/process"
                method="post"
                enctype="multipart/form-data"
                onSubmit="submitForm()"
            >
                <div class="flex-column">
                    <h4>You can also separate vocal from mp3 file</h4>
                    <label for="fileInput" class="file-label">
                        <span id="fileLabel" class="file-label-text">Choose a file</span>
                    </label>
                    <input
                        id="fileInput"
                        class="file-input"
                        type="file"
                        name="music"
                        accept="audio/*"
                        required
                    />
                    <input type="submit" id="submit" class="btn" value="Separate Vocal">
                </div>
            </form>
        <%}%> <%if(loading){%>
            <div id="loader" class="loader flex-column">
                <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                </div>
                <h5>Processing... Please wait</h5>
            </div>
        <%}%>

    <footer
        style="
        border-block-start: 1px solid lightgray;
        padding-block-start: 2rem;
        "
        class="flex-column"
    >
        <p>Provided by Ammar Hajbakour</p>
        <div class="social-media flex">
        <a href="https://wa.me/00905317703913"
            ><i class="fa-brands fa-whatsapp"></i
        ></a>
        <a href="tel:00905317703913"><i class="fa-solid fa-phone"></i></a>
        <a href="mailTo:ammar.hajbakour@gmail.com"
            ><i class="fa-regular fa-envelope"></i
        ></a>
        </div>
    </footer>
    </div>

    <script>
    const fileInput = document.getElementById("fileInput");
    const fileLabel = document.getElementById("fileLabel");
    const loader = document.getElementById("loader")
    fileInput.addEventListener("change", () => {
        const fileName = fileInput.files[0].name;
        fileLabel.textContent = fileName;
    });

    function submitForm(e) {
        document.getElementById('submit').disabled=true;
        document.getElementById('loader').style.display = 'block'
        const frm = document.getElementById("upload")[0];
        frm.submit(); // Submit the form
        fileInput.value = ''; 
        fileLabel.textContent = 'Choose a file'// Reset all form data
        frm.reset()
        return false; // Prevent page refresh
    }
    </script>
</body>
</html>
